/*
 * 画面のスタイルシート
 */

body {
    font-family: "Noto Sans JP", "sans-serif";
    margin: 0;
    flex: 1;
    min-width: none;
}

/*
* [header]のスタイルシート
*/

h1 div {
    margin: 0px 120px 10px 15px;
    display: flex;
    font-size: 25px;
    font-weight: lighter;
    font-family: 'Avenir';
    letter-spacing: 5px;
    position:relative;
    right: 50px;
    bottom:110px;
}

.background1 {
    background-image:url(img/background1.png); /* 画像のURLを指定 */
    background-repeat:  no-repeat;
    background-position:center center; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:1300px; /* 縦幅のサイズを指定  */
}

.under {
    border-bottom: solid 2px #6AEDC8;
}

.left-column {
    float: left;
    width: 0%;
    color: white;
}

.center-column {
    float: left;
    width: 0%;
    color: white;
}

.right-column {
    float: left;
    width: 0%;
    color: white;
}

/*
 * [main]のスタイルシート
 */

 .block-main {
    text-align: center;
    margin: 100px 0;
    font-family: 'Avenir';
    letter-spacing: 2px;
    position:relative;
    left: 600px;
    top:50px;
}

/*
* [profile]のスタイルシート
*/

.item-list {
   width: 100%;
   max-width: 348px;
   margin: 0 auto;
   display:flex;
   justify-content: space-between;
   position: relative;
}

.photo {
    width: 600px;
	height: 600px;
	border-radius: 100%;
    padding: 30px;
    border: 2px solid white;
    margin-top: -1150px;
    margin-left: -1300px;
    margin-right: 100px;
}

.alphabet {
    display: block;
    font-size: 80px;
    font-weight: normal;
    color: white;
    margin: 100px 0 0 0;
    letter-spacing: 10px;
    white-space: nowrap;
    text-align: center;
    margin-top: -1000px;
    margin-bottom: 40px;
}

.under {
    border-bottom: solid 2px #6AEDC8;
}

.kanji {
    display: block;
    font-size: 60px;
    font-weight: normal;
    color: white;
    margin: 15px 0 30px 0;
    letter-spacing: 10px;
    white-space: nowrap;
    text-align: center;
}

.profession {
    display: block;
    font-size: 60px;
    font-weight: normal;
    color: white;
    letter-spacing: 10px;
    white-space: nowrap;
    text-align: center;
}

.introduction {
	vertical-align: middle;
}

.introduction-block {
    display: inline-block;
	vertical-align: middle;
}

.item-list2 {
    text-align: center;
 }

.profile {
    color: black;
    font-size: 100px;
    align-items: center;
    letter-spacing: 20px;
    margin-top: -100px;
}

.img_1 {
    text-align: center;
    margin: -30px 0 50px 0;
    width: 15%;
}

.skill {
    color: black;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    position:relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.introduction {
    color: black;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    position:relative;
    margin-bottom: 40px;
}

.support {
    color: black;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.icon-list {
   list-style: none;
   color: white;
   width: 100%;
   max-width: 247px;
   margin: 30px auto;
   margin-bottom: 100px;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img_2 {
	width: 160%;
    height: 160%;
    margin: 20px 100px 0 -80px;
    text-align: center;
}

.img_3 {
	width: 130%;
    height: 130%;
    margin: 20px 0 0 200px;
    margin-left: 50px;
    text-align: center;
}

.icon-list li {
   margin-right: 60px;
   color: white;
}

.icon-list li:last-child {
   margin-right: 0;
   color: white;
}

/*
 * [projects]のスタイルシート
 */

.item-list3 {
    text-align: center;
    position:relative;
    width: 100%;
}

.background2 {
    background-image:url(img/background2.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:3000px; /* 縦幅のサイズを指定  */
    margin-bottom: -100px;
}

.box-projects {
    align-items: center;
    letter-spacing: 4px;
    margin-top: -2500px;
    width: 100%;
    position:relative;
}

.projects-list {
    list-style: none;
    width: 100%;
    max-width: 348px;
    margin: 30px auto;
    display:flex;
    justify-content: space-between;
    position: relative;    
}

.projects-list li {
   display: block;
   width: 100%;
   margin-right: 200px;
}

.projects-list li img {
    width: 100%;
    border: 1px solid #ccc;
}

.projects-list li h3 {
    font-size: 50px;
    margin: 10px 0;
    margin-bottom: 50px;
    font-weight: 100;
    width: 100%;
}
.projects-list li p {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 100;
    width: 100%;
}

.projects-list li span {
   font-size: 25px;
   width: 100%;
}

.projects-list list link {
   display: flex;
   justify-content: left;
   align-items: left;
   margin-top: 15px;
   width: 100%;
}

.projects-list list link2 {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    width: 100%;
 }

.projects-list li .link a {
   padding:10px 15px; /* 枠と文字の空間 */
   margin:0 5x; /* 枠の外の空間 */
   border:3px solid white; /* 枠の線の太さ・種類・色 */
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-top: -200px;
   margin-right: 20px;
   width: 100%;
}

.projects-list li .link2 a {
    padding:10px 15px; /* 枠と文字の空間 */
    margin:0 5x; /* 枠の外の空間 */
    border:3px solid white; /* 枠の線の太さ・種類・色 */
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: -200px;
    margin-right: 20px;
    width: 100%;
 }

.projects {
    color: white;
    font-size: 100px;
    text-align: center;
    letter-spacing: 20px;
    font-weight: lighter;
    font-family: 'Avenir';
    margin-top: -10px;
    width: 100%;
}

.twitter {
    margin-top: 100px;
    margin-right: 1100px;
    margin-left: -350px;
    margin-bottom: 40px;

}

.twitter-yoko {
    margin-top: 50px;
    margin-left: -350px;
}

.netflix {
    margin-top: 110px;
    margin-right: -20px;
    margin-left: 750px;
    margin-bottom: 40px;
}

.netflix-yoko {
    margin-top: 50px;
    margin-right: -750px;
    margin-left: 750px;
}

.img_4 {
    text-align: center;
    margin: -40px 0 0 0;
    min-width: 15%;
}

.project_1 {
    color: white;
    font-size: 70px;
    line-height:20px;
    letter-spacing: 5px;
    margin-top: -100px;
    text-align: left;
    display: inline-block;
    margin-top: 50px;
    margin-right: 1250px;
    width: 100%;
}

.yoko {
    display: flex;
    margin-left: -800px;
}

.link {
    margin-top: 30px;
    margin-right: 1170px;
    margin-left: -1170px;
}

.project_2 {
    color: white;
    font-size: 70px;
    line-height:20px;
    letter-spacing: 5px;
    text-align: left;
    display: inline-block;
    margin-top: -2000px;
    margin-left: 950px;
    width: 100%;
}

.link2 {
    margin-top: 1355px;
    margin-left: 135px;
    margin-right: -135px;
}

/*
 * [contact]のスタイルシート
 */

 .item-list4 {
    margin-top: -50px;
    text-align: center;
    margin-bottom: 400px;
 }

 .box-contact {
    margin: 80px 0 0;
    width: 100%
}

.contact-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
 }

 .img_5 {
    text-align: center;
    margin: -30px 0 150px 0;
    width: 15%;
}

.contact {
    color: black;
    font-size: 100px;
    text-align: center;
    letter-spacing: 20px;
    font-weight: lighter;
    font-family: 'Avenir';
    margin-top: -400px;
}

.phone {
    margin-top: 70px;
    margin-right: 300px;
    width: 17%;
}

.mail {
    margin-top: 70px;
    margin-left: 300px;
    width: 17%;
}

/*
 * [footer]のスタイルシート
 */
 .background3 {
    background-image:url(img/background3.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:140px; /* 縦幅のサイズを指定  */
}

footer>p {
    color: #938F8F;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Avenir';
    display: flex;
    position:relative;
    left: 2270px;
    top:50px;
}

/*
 * スマホ用のスタイルシート
 */

 @media screen and (max-width: 767px) {
    body {
        min-width: 100%;
   }

   /*
* [header]のスタイルシート
*/

h1 div {
    margin: -30px 100px 15px -50px;
    font-size: 12px;
    letter-spacing: 1px;
    right: 25px;
    bottom:55px;
}

.background1 {
    background-image:url(img/background1.png); /* 画像のURLを指定 */
    background-repeat:  no-repeat;
    background-position:center center; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:700px; /* 縦幅のサイズを指定  */
}

.under {
    border-bottom: solid 2px #6AEDC8;
}

.left-column {
    float: left;
    width: 0%;
    color: white;
}

.center-column {
    float: left;
    width: 0%;
    color: white;
}

.right-column {
    float: left;
    width: 0%;
    color: white;
}

/*
 * [main]のスタイルシート
 */

 .block-main {
    text-align: center;
    margin: 100px 0;
    font-family: 'Avenir';
    letter-spacing: 2px;
    position:relative;
    left: 300px;
    top:50px;
}

/*
* [profile]のスタイルシート
*/

.item-list {
   width: 100%;
   max-width: 348px;
   margin: 0 auto;
   display:flex;
   justify-content: space-between;
   position: relative;
}

.photo {
    width: 220px;
	height: 220px;
	border-radius: 100%;
    padding: 15px;
    border: 2px solid white;
    margin-top: -700px;
    margin-left: -430px;
    margin-right: 5px;
}

.alphabet {
    display: block;
    font-size: 25px;
    font-weight: normal;
    color: white;
    margin: 100px 0 0 -600px;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    margin-top: -400px;
    margin-bottom: 20px;
}

.under {
    border-bottom: solid 2px #6AEDC8;
}

.kanji {
    display: block;
    font-size: 25px;
    font-weight: normal;
    color: white;
    margin: 15px 0 10px -600px;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
}

.profession {
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: white;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    margin-left: -600px;
}

.introduction {
	vertical-align: middle;
}

.introduction-block {
    display: inline-block;
	vertical-align: middle;
}

.item-list2 {
    text-align: center;
 }

.profile {
    color: black;
    font-size: 20px;
    align-items: center;
    letter-spacing: 5px;
    margin-top: -160px;
    margin-bottom: 10px;
}

.img_1 {
    text-align: center;
    margin: -80px 0 -20px 0;
    width: 35%;
}

.skill {
    color: black;
    font-size: 5px;
    letter-spacing: 1px;
    text-align: center;
    position:relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.introduction {
    color: black;
    font-size: 5px;
    letter-spacing: 2px;
    text-align: center;
    position:relative;
    margin-bottom: 20px;
}

.support {
    color: black;
    font-size: 4px;
    letter-spacing: 2px;
    text-align: center;
}

.icon-list {
   list-style: none;
   color: white;
   width: 100%;
   max-width: 247px;
   margin: 30px auto;
   margin-bottom: 100px;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img_2 {
	width: 35%;
    height: 35%;
    margin: -20px 10px 0 60px;
    text-align: center;
}

.img_3 {
	width: 30%;
    height: 30%;
    margin: -20px 80px 0 20px;
    margin-left: 25px;
    text-align: center;
}

.icon-list li {
   margin-right: 30px;
   color: white;
}

.icon-list li:last-child {
   margin-right: 0;
   color: white;
}

/*
 * [projects]のスタイルシート
 */

.item-list3 {
    text-align: center;
    position:relative;
    width: 100%;
}

.background2 {
    background-image:url(img/background2.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:3000px; /* 縦幅のサイズを指定  */
    margin-bottom: -100px;
    margin-top: -300px;
}

.box-projects {
    align-items: center;
    margin-top: -2700px;
    width: 100%;
    position:relative;
}

.projects-list {
    list-style: none;
    width: 100%;
    max-width: 348px;
    margin: 30px auto;
    display:flex;
    justify-content: space-between;
    position: relative;    
}

.projects-list li {
   display: block;
   width: 100%;
   margin-right: 200px;
}

.projects-list li img {
    width: 100%;
    border: 1px solid #ccc;
}

.projects-list li h3 {
    font-size: 22px;
    margin: -60px 0;
    margin-left: 140px;
    margin-bottom: -5px;
    font-weight: 100;
    width: 100%;
}
.projects-list li p {
    font-size: 10px;
    margin: 20px 0;
    font-weight: 100;
    width: 100%;
    margin-top: -30px;
    margin-left: 80px;
    letter-spacing: 1px;
}

.projects-list li span {
   font-size: 12px;
   width: 100%;
   margin-top: -50px;
   margin-left: 80px;
   letter-spacing: 1px;
}

.projects-list list link {
   display: flex;
   justify-content: left;
   align-items: left;
   margin-top: 15px;
   width: 100%;
}

.projects-list list link2 {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 15px;
    width: 100%;
 }

.projects-list li .link a {
   padding:10px 15px; /* 枠と文字の空間 */
   margin:0 5x; /* 枠の外の空間 */
   border:3px solid white; /* 枠の線の太さ・種類・色 */
   font-size: 20px;
   text-decoration: none;
   color: white;
   margin-top: -200px;
   margin-right: 20px;
   width: 100%;
}

.projects-list li .link2 a {
    padding:10px 15px; /* 枠と文字の空間 */
    margin:0 5x; /* 枠の外の空間 */
    border:3px solid white; /* 枠の線の太さ・種類・色 */
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: -200px;
    margin-right: 20px;
    width: 100%;
 }

.projects {
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: 'Avenir';
    margin-top: -300px;
    width: 100%;
}

.twitter {
    max-width: 280px;
	width: 1%;
    margin-top: -50px;
    margin-left: 305px;
}

.twitter-yoko {
    margin-top: 50px;
    margin-left: 200px;
}

.netflix {
    margin-top: 110px;
    margin-right: -20px;
    margin-left: 750px;
    margin-bottom: 40px;
}

.netflix-yoko {
    margin-top: 50px;
    margin-right: -750px;
    margin-left: 750px;
}

.img_4 {
    text-align: center;
    margin: -40px 0 0 0;
    width: 80%;
}

.project_1 {
    color: white;
    font-size: 35px;
    line-height:20px;
    margin-top: -100px;
    text-align: left;
    display: inline-block;
    margin-top: 50px;
    margin-right: 625px;
    width: 1%;
}

.yoko {
    display: flex;
    margin-left: -400px;
}

.link {
    margin-top: 30px;
    margin-right: 585px;
    margin-left: -585px;
}

.project_2 {
    color: white;
    font-size: 35px;
    line-height:20px;
    text-align: left;
    display: inline-block;
    margin-top: -2000px;
    margin-left: 475px;
    width: 100%;
}

.link2 {
    margin-top: 1360px;
    margin-left: 67px;
    margin-right: -67x;
}

/*
 * [contact]のスタイルシート
 */

 .item-list4 {
    margin-top: -50px;
    text-align: center;
    margin-bottom: 400px;
 }

 .box-contact {
    margin: 80px 0 0;
    width: 100%
}

.contact-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
 }

 .img_5 {
    text-align: center;
    margin: -30px 0 150px 0;
    width: 7%;
}

.contact {
    color: black;
    font-size: 50px;
    text-align: center;
    letter-spacing: 20px;
    font-weight: lighter;
    font-family: 'Avenir';
    margin-top: -400px;
}

.phone {
    margin-top: 70px;
    margin-right: 150px;
    width: 8%;
}

.mail {
    margin-top: 70px;
    margin-left: 150px;
    width: 8%;
}

/*
 * [footer]のスタイルシート
 */
 .background3 {
    background-image:url(img/background3.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:140px; /* 縦幅のサイズを指定  */
}

footer>p {
    color: #938F8F;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Avenir';
    display: flex;
    position:relative;
    left: 1135px;
    top:50px;
}