/*
 * 画面のスタイルシート
 */

body {
    font-family: "Noto Sans JP", "sans-serif";
    margin: 0;
    flex: 1;
}

/*
* [header]のスタイルシート
*/

h1 div {
    margin: 0px 70px 10px 15px;
    display: flex;
    font-size: 17px;
    font-weight: lighter;
    font-family: 'Avenir';
    letter-spacing: 2px;
    position:relative;
    right: 85px;
    bottom:85px;
}

.background1 {
    background-image:url(img/background1.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:1000px; /* 縦幅のサイズを指定  */
}

.under {
    border-bottom: solid 2px #6AEDC8;
}

.left-column {
    float: left;
    width: 0%;
    color: white;
}

.center-column {
    float: left;
    width: 0%;
    color: white;
}

.right-column {
    float: left;
    width: 0%;
    color: white;
}

/*
 * [main]のスタイルシート
 */

 .block-main {
    text-align: center;
    margin: 100px 0;
    font-family: 'Avenir';
    letter-spacing: 2px;
    position:relative;
    left: 600px;
    top:50px;
}

/*
* [profile]のスタイルシート
*/

.item-list {
   width: 100%;
   max-width: 348px;
   margin: 0 auto;
   display:flex;
   justify-content: space-between;
}

.photo {
    width: 400px;
	height: 400px;
	border-radius: 100%;
    padding: 20px;
    border: 2px solid white;
    margin-top: -870px;
    margin-left: -1300px;
    margin-right: 60px;
}

.alphabet {
    display: block;
    font-size: 70px;
    font-weight: normal;
    color: white;
    margin: 100px 0 0 0;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    margin-top: -780px;
}

.under {
    border-bottom: solid 2px #6AEDC8;
}

.kanji {
    display: block;
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin: 15px 0 0 0;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
}

.profession {
    display: block;
    font-size: 50px;
    font-weight: normal;
    color: white;
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
}

.introduction {
	vertical-align: middle;
}

.introduction-block {
    display: inline-block;
	vertical-align: middle;
}

.item-list2 {
    text-align: center;
 }

.profile {
    color: black;
    font-size: 70px;
    align-items: center;
    letter-spacing: 5px;
    margin-top: -100px;
}

.img_1 {
    text-align: center;
    margin: -30px 0 50px 0;
}

.skill {
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    position:relative;
    margin-top: 70px;
    margin-bottom: 70px;
}

.introduction {
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    position:relative;
    margin-bottom: 40px;
}

.support {
    color: black;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.icon-list {
   list-style: none;
   color: white;
   width: 100%;
   max-width: 247px;
   margin: 30px auto;
   margin-bottom: 100px;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.img_2 {
	width: 85%;
    height: 85%;
    margin: 0 -5px 0 0;
    text-align: center;
}

.img_3 {
	width: 100%;
    height: 100%;
    margin: 0 0 0 -5px;
    text-align: center;
}

.icon-list li {
   margin-right: 60px;
   color: white;
}

.icon-list li:last-child {
   margin-right: 0;
   color: white;
}

/*
 * [projects]のスタイルシート
 */

.item-list3 {
    text-align: center;
 }

.background2 {
    background-image:url(img/background2.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:2500px; /* 縦幅のサイズを指定  */
}

.box-projects {
    align-items: center;
    letter-spacing: 5px;
    margin-top: -2200px;
    width: 100%;
}

.projects-list {
   list-style: none;
   width: 100%;
   max-width: 1076px;
   margin:auto;
   padding: 0;
   text-align: left;
   overflow: hidden;
   display: flex;
}

.projects-list li {
   display: block;
   width: 100%;
   float: left;
   margin-right: 200px;
}

.projects-list li:last-child {
    margin-right: 0;
}

.projects-list li img {
    width: 100%;
    border: 1px solid #ccc;
}

.projects-list li h3 {
    font-size: 40px;
    margin: 10px 0;
    font-weight: 100;
}
.projects-list li p {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 100;
}

.projects-list li span {
   font-size: 25px;
}

.projects-list list link {
   display: flex;
   justify-content: left;
   align-items: left;
   margin-top: 15px;
}

.projects-list li .link a {
   padding: 5px 20px;
   margin-right: 10px;
   padding:10px 15px; /* 枠と文字の空間 */
   margin:0 5px; /* 枠の外の空間 */
   border:3px solid white; /* 枠の線の太さ・種類・色 */
   font-size: 15px;
   text-decoration: none;
   color: white;
   margin-top: -200px;
}

.projects {
    color: white;
    font-size: 70px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: 'Avenir';
}

.twitter {
    margin-right: 280px;
}

.netflix {
    margin-left: 160px;
}

.img_4 {
    text-align: center;
    margin: -30px 0 50px 0;
}

.project_1 {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: left;
    position:relative;
    margin-top: 30px;
    margin-bottom: 70px;
}

.project_2 {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    text-align: left;
    position:relative;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 130px;
}

/*
 * [contact]のスタイルシート
 */

 .item-list4 {
    text-align: center;
    margin-bottom: 400px;
 }

 .box-contact {
    margin: 80px 0 0;
    width: 100%
}

.contact-list {
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
 }

 .img_5 {
    text-align: center;
    margin: -30px 0 150px 0;
}

.contact {
    color: black;
    font-size: 70px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    font-family: 'Avenir';
    margin-top: -400px;
}

.phone {
    margin-right: 100px;
}

.mail {
    margin-left: 100px;
}

/*
 * [footer]のスタイルシート
 */
 .background3 {
    background-image:url(img/background3.png); /* 画像のURLを指定 */
    background-position:center bottom; /* 画像の表示位置を指定 */
    background-size:cover; /* 画像のサイズを指定  */
    width:525%; /* 横幅のサイズを指定  */
    height:200px; /* 縦幅のサイズを指定  */
}

.block-footer {
    background-image:url("./img/border3.png");
    background-repeat: no-repeat;
}

.block-footer p {
    color: #938F8F;
    clear: both;
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    margin-left: -400px;
    position:relative;
    bottom:375px;
}

/*
 * スマホ用のスタイルシート
 */

 @media screen and (max-width: 767px) {
    body {
        min-width: 100%;
   }